@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 100% 5%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* SCROLLBAR */

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* FONT */

.colorful-text {
  background-image: linear-gradient(
    to right,
    #a855f7,
    #9333ea,
    #6d28d9,
    #2563eb,
    #0ea5e9,
    #22d3ee
  );
  color: transparent;
  -webkit-background-clip: text;
}

.gold-text {
  background-image: linear-gradient(
    to right,
    #573e3d 0,
    #cb9b51 22%,
    #b4980b 45%,
    #9d9307 50%,
    #b4980b 55%,
    #cb9b51 78%,
    #573e3d 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}
